$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'products';
@import 'comments';
@import 'ratings';

ul {
  list-style-type: none;
}

.spacer {
  height: 75px;
}

.modal-body {
  padding: 5px 10px;
}

.form-group {
  margin: 0;
}

.modal-footer {
  padding: 10px;
}

.modal-content {
  background-color: #fcfcfc;
}
