$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'products';

ul {
  list-style-type: none;
}

.spacer {
  height: 75px;
}

.modal-body {
  padding: 5px 10px;
}

.form-group {
  margin: 0;
}

.modal-footer {
  padding: 10px;
}

.modal-content {
  background-color: #fcfcfc;
}

.img-main {
  display: table;
  margin: 0 auto;
}

// #cart-add {
//   display: block;
//   width: 100%;
//   margin: 10px 0;
// }

.img-cart {
  max-height: 100px;
}

.total-row {
  background-color: #cdfcc9;
  padding: 5px;
}

.cart-total-line {
  margin: 5px;
}

#cart-add {
  margin-bottom: 20px;
}

.product-search {
  display: inline;
}
